.details {
    position: relative;
    width: 140%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
  }
  
  .details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: white;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  
  .details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 500px;
  }
  .cardHeader h2 {
    font-weight: 600;
    color: blue;
  }
  .cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: blue;
    text-decoration: none;
    color: white;
    border-radius: 6px;
  }
  
  .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .details table thead td {
    font-weight: 600;
  }
  .details .recentOrders table tr {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .details .recentOrders table tr:last-child {
    border-bottom: none;
  }
  .details .recentOrders table tbody tr:hover {
    background: blue;
    color: white;
  }
  .details .recentOrders table tr td {
    padding: 10px;
  }
  .details .recentOrders table tr td:last-child {
    text-align: center;
  }
  .details .recentOrders table tr td:nth-child(2) {
    text-align: center;
  }
  .details .recentOrders table tr td:nth-child(3) {
    text-align: center;
  }

  @media (max-width: 768px) {
    .details {
      grid-template-columns: 1fr;
    }
    .recentOrders {
      overflow-x: auto;
    }
    .status.inProgress {
      white-space: nowrap;
    }
  }